<html>
    <head>
        <title>Haochen0330's blog</title>

</head>
<body>
<div>
<h1><a href="/">Haochen0330's blog</a></h1>
</div>
<div>
<p>published: 15.08.2020</p>
<h2><a href="">My first post</a></h2>
<p>Nice to see u!</p>
</div>
<div>
<p>published: 20.08.2020</p>
<h2><a href="">My second post</a></h2>
<p>In the new semester, I have gained a lot of things, the study is not so difficult compared with before, the interpersonal relationship around is getting better and better, the future can be expected!</p>
</div>
<div>
<p>published: 21.08.2020</p>
<h2><a href="">My third post</a></h2>
<p>IIn the future, I hope to learn more knowledge about big data, and I hope that I will be successful!</p>
</div>
</body>
</html>
